#mainContent {
    width: 80%;
    margin: calc(80px + 8vw) auto 10%;
}

#contentList {
    width: 100%;
    display: grid;
    grid-template-columns: 19% 19% 19% 19%;
    grid-column-gap: 8%;
}

#bookImg {
    width: 100%;
    height: 24vw;
    margin-bottom: 8vw;
    object-fit: cover;
    transition-duration: 0.3s;
}

#bookImg:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

#contentImg {
    height: 60vh;
    width: 80%;
    margin: 0 auto 0.4%;
}

#content {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
}

.fadeOutIn {
    animation: fadeOutIn 0.6s ease-in-out forwards;
}

@keyframes fadeOutIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }
