body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #040000;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  button:focus {
      outline: 0;
  }

  #logo__Dec {
      z-index: 2;
      position: absolute;
      top: 24px;
      left: 0;
      right: 0;
      margin: auto;
      width: 80px;
      transition-duration: 0.3s;
  }

  nav {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a{
    font-size: 14px;
    font-weight: bold;
    padding: 16px 32px;
    cursor: pointer;
    line-height: 24px;
    color: white;
    background-color: #040000;
    border: solid 1px #ffffff;
    border-top: none;
    border-right: none;
    text-decoration: none;
  }
  
  header nav a:hover {
    transition-duration: 0.3s;
    color: #a6a6a6
  }

  footer {
      text-align: center;
      font-size: 10px;
      color: #a6a6a6;
      margin: 8px 0;
      padding: 16px 0 8px;
  }

  @media screen and (max-width:900px) {
      #logo__Dec {
          top: 16px;
          left: 0;
          right: 0;
          margin: auto;
          width: 80px;
      }
    
      nav {
        top: calc(80vh - 43px);
        width: 100%;
      }
      
      nav a{
        width: 50%;
        font-size: 14px;
        font-weight: bold;
        padding: 16px 16px;
        cursor: pointer;
        line-height: 10px;
        border-top: solid 1px white;
        border-bottom: none;
      }

      nav a:hover {
        color: white;
      }
    
      nav a:first-child {
        border-left: none;
      }
      
      header nav a:hover {
        transition-duration: 0.3s;
        color: #a6a6a6
      }
    
      footer {
          text-align: center;
          font-size: 10px;
          color: #a6a6a6;
          margin: 8px 0;
          padding: 16px 0 8px;
      }
}