#contentList {
    width: 100%;
    min-height: 60vh;
    margin: calc(80px + 6%) auto 80px;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
}

.thumnailBox {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 6vw;
    text-decoration: none;
}

#bookImg {
    width: 100%;
    height: 48vw;
    object-fit: cover;
    object-position: top center;
}

#bookTitleBox {
    height: 16px;
}

#bookTitle {
    font-size: 14px;
    font-weight: normal;
    color: #040000;
    margin: 8px 0 0;
    text-align: center;
}



@media screen and (min-width:1025px) {
    #contentList {
        width: 80%;
        margin-top: calc(90px + 10%);
        margin: calc(90px + 10%) auto 80px;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
    }

    .thumnailBox {
        height: 24vw;
        margin-bottom: 5vw;
    }

    #bookImg {
        height: 24vw;
    }

    #bookTitleBox {
        opacity: 0;
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(4, 0, 0, 0.2);
        text-decoration: none;
        transition-duration: 0.3s;
    }

    #bookTitleBox:hover {
        opacity: 1;
        transition-duration: 0.3s;
    }

    #bookTitle {
        color: white;
        position: absolute;
        margin: 0;
        bottom: 16px;
        left: 16px;
        font-size: 20px;
    }
}
