#contentList {
    width: 100%;
    margin: calc(80px + 6%) auto 80px;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
}

.thumnailBox {
    display: block;
    width: 100%;
    height: 48vw;
    position: relative;
    margin-bottom: 6vw;
}

#bookImg {
    width: 100%;
    height: 48vw;
    object-fit: cover;
    object-position: center center;
}

#bookTitle {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(4, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 48vw;
    transition-duration: 0.3s;
}

#bookTitle:hover {
    opacity: 1;
    transition-duration: 0.3s;
}

@media screen and (min-width:1025px) {
    #contentList {
        width: 80%;
        margin-top: calc(90px + 10%);
        margin: calc(90px + 10%) auto 80px;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
    }

    .thumnailBox {
        height: 24vw;
        margin-bottom: 5vw;
    }

    #bookImg {
        height: 24vw;
    }

    #bookTitle {
        line-height: 24vw;
    }
}