#top__slider {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
}

.slick-slide{
    height: 90vh;
    object-fit: cover;
}

#item__info {
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: absolute;
    top: calc(90vh - 186px);
    left: 24px;
    width: 300px;
    padding: 0 24px;
    text-decoration: none;
    background-color: #040000;
    border: solid 1px #ffffff;
}

#item__info img {
    width: 160px;
}

.item__info__textBox .item__label {
    margin: 16px 0 0 0;
}

.item__info__textBox-season{
    font-size: 10px;
    line-height: 10px;
    color: #808080;
    margin: 24px 0 0;
}

.item__info__textBox-name{
    font-size: 16px;
    line-height: 12px;
    color: #ffffff;
    margin: 4px 0 0;
}

.item__info__textBox-price{
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 16px 0 0;
}

#item__slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    transition-duration: 0.3s;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

#item__slider::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.item {
    padding: 24px;
    border: solid 1px white;
    border-right: none;
    text-decoration: none;
}

.item:first-child{
    padding-left: 12px;
    border-left: none;
}

.item:last-child{
    border-right: solid 1px white;
}

.item img {
    width: calc(100vw / 6);
    background-color: rgba(255, 255, 255, 0.08);
}

.item__label {
    margin: 1px 4px 0;
    text-align: right;
    background-color: #ffffff;
    color: #040000;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 4px;
    display: inline-block;
    vertical-align: top;
}

.item__slider__name {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 4px 0;
}

.item__slider__price {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    float: left;
}

#item__slider img:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.slick-arrow {
    position: absolute;
    color: white;
    background-color: inherit;
    border: none;
    z-index: 2;
    width: 32px;
}

.slick-arrow img {
    width: 100%;
}

.slick-prev {
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slick-next {
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media screen and (max-width:900px) {
    #top__slider {
        height: 77vh;
    }
    
    .slick-slide{
        height: 77vh;
    }

    #item__info {
        top: calc(77vh - 186px);
        left: 16px;
        width: initial;
        flex-direction: column;
        padding: 0 8px;
    }

    .item__info__textBox {
        margin: 0 12px;
        order: 2;
    }

    .item__info__textBox .item__label {
        margin: 0;
    }
    
    .item__info__textBox-season {
        margin: 0;
    }
    
    .item__info__textBox-name {
        font-size: 14px;
        margin: 2px 0 0;
    }
    
    .item__info__textBox-price {
        font-size: 16px;
        line-height: 16px;
        margin: 8px 0 16px;
    }
    
    #item__info img {
        order: 1;
        width: 80px;
        margin: 16px 16px 8px;
    }

    .item {
        padding: 16px;
        position: relative;
    }
    
    .item:first-child {
        padding-left: 16px;
    }

    .item:last-child{
        border-right: none;
    }
    
    .item img {
        width: calc(100vw / 2.8);
    }

    .item__label {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
        padding: 2px 4px;
        vertical-align: middle;

    }

    #item__slider {
        margin-top: 43px;
    }
    
    .item__slider__name {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 2px;
    }
    
    .item__slider__price {
        font-size: 16px;
        float: left;
    }

    .slick-arrow {
        width: 32px;
    }
    
    .slick-prev {
        left: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .slick-next {
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
}
